* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}

.main-container {
    margin: 0 auto;
    box-shadow: #9e9393b0 0px 12px 22px;
    position: relative;
}

.main-container .navigation-section {
    height: 500px;
    /*background-image: linear-gradient(-90deg, #6f7311, #e61515);*/
    background-image: url(./../images/background.jpg);
    background-color: rgb(247, 241, 241);
    background-size: cover;
}

.main-container .navigation-section .header {
    display: flex;
    padding: 28px 49px;
}

.main-container .navigation-section .heading-wrapper {
    width: 22%;
}

.main-container .navigation-section .heading-wrapper .meetMe {
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
}

.main-container .navigation-section .header .nav-bar {
    margin-left: auto;
    padding-right: 89px
}

.main-container .navigation-section .resp-menu-wrapper {
    display: none;
}

.main-container .navigation-section .resp-menu-wrapper .menu-show {
    width: 41px;
    height: 4px;
    background-color: white;
    margin-top: 5px;
}

.main-container .navigation-section .header .nav-bar ul {
    display: flex;
}

.main-container .navigation-section .header .nav-bar ul li {
    list-style: none;
    margin-left: 33px;
}

.main-container .navigation-section .header .nav-bar ul li:hover {
    background-color: rgb(51, 255, 0);
    padding: 7px 10px;
    transition: 0.7s;
    border-radius: 5px;
}

.main-container .navigation-section .header .nav-bar ul li a {
    text-decoration: none;
    color: white;
}


/*details section */

.main-container .details-section {
    width: 72%;
    position: absolute;
    left: 13%;
    background-color: /*rgb(228, 215, 215)*/
    rgb(29 29 29 / 63%);
    box-shadow: -4px 0px 0px rgb(228 224 224 / 3%), 1px 2px 3px 0px rgb(167 167 162);
    display: flex;
    top: 201px;
    border-radius: 9px;
    padding-right: 21px;
}

.main-container .details-section .dp-img-wrapper {
    width: 60%;
}

.main-container .details-section .dp-img-wrapper #anayt-pic {
    width: 88%;
    height: 77%;
    margin: 26px 0px 0px 26px;
    border: solid white 5px;
    border-radius: 16px;
}

.main-container .details-section .personal-details-wrapper {
    width: 38%;
    padding-top: 37px;
    padding-left: 19px;
}

.main-container .details-section .personal-details-wrapper .intro h3 {
    word-spacing: 4px;
    color: #ebdfdff0;
}

.main-container .details-section .personal-details-wrapper .name {
    font-size: 37px;
    margin: 16px 0;
    word-spacing: 8px;
}

.main-container .details-section .personal-details-wrapper .education {
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center
}

.main-container .details-section .intro p {
    box-shadow: 2px 2px 3px #f3e6e6, -2px -2px 0px #f3e6e6;
    background-color: #f8f7f7;
    padding: 3px 3px;
    border-radius: 6px;
}

.main-container .details-section .contact-wrapper {
    margin: 41px 0px;
    padding: 30px 0px;
}

.main-container .details-section .contact-wrapper .contact {
    margin-top: 18px;
    color: rgb(195 184 184);
}

.main-container .details-section .contact-wrapper a {
    text-decoration: none;
    display: block;
}

.main-container .details-section .contact-wrapper .contct-icon {
    margin-right: 16px;
}

.main-container .details-section .contact-wrapper .social {
    display: flex;
}

.main-container .details-section .contact-wrapper .social a {
    padding: 6px 15px;
    margin: 24px 9px 0px 0px;
    color: white;
    border-radius: 5px;
}

.main-container .details-section .contact-wrapper .social .fb {
    background-color: #3b5998;
}

.main-container .details-section .contact-wrapper .social .twiter {
    background-color: #00acee;
}

.main-container .details-section .contact-wrapper .social .linkedin {
    background-color: #0e76a8;
}

.main-container .details-section .contact-wrapper .social .insta {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.main-container .details-section .contact-wrapper .social a:hover {
    color: red;
    transition: 1s;
}

.main-container .bottom-section {
    height: 400px;
    background-color: #f9f6f663;
}

.main-container .footer {
    height: 100px;
    background-image: linear-gradient(-90deg, #282826, #4a4a4a);
}

.grey {
    color: #706565de;
}

.white {
    color: white;
}

.shado-effect {
    background-image: linear-gradient(45deg, #aea9ae5c, #d1d2c73b);
}

.clr-effect-text {
    background-image: linear-gradient(45deg, #f5f2e8, #7a6d6dcc);
    border-radius: 6px;
    width: 70%;
    padding: 4px 8px;
}


/*animation*/

.main-container .details-section .personal-details-wrapper .intro h3,
p {
    animation-name: h3-animation;
    animation-duration: 10s;
}


/*
@keyframes h3-animation {
    0% {
        color: red;
    }
    10% {
        color: rgb(27, 17, 10);
    }
    25% {
        color: rgb(255, 102, 0);
    }
    50% {
        color: blue;
    }
    100% {
        color: green;
    }
}*/


/*responsive css stars*/


/*1180px*/

@media screen and (max-width:1180px) {
    .main-container .details-section .dp-img-wrapper #anayt-pic {
        width: 87%;
        height: 75%;
    }
    .main-container .details-section .personal-details-wrapper .name {
        font-size: 31px;
    }
    .main-container .details-section .personal-details-wrapper .education {
        font-size: 14px;
    }
    .main-container .details-section .personal-details-wrapper .intro h3 {
        font-size: 13px;
    }
}


/*1080px*/

@media screen and (max-width:1080px) {
    .main-container .details-section .dp-img-wrapper #anayt-pic {
        width: 89%;
        height: 70%;
    }
    .main-container .details-section .personal-details-wrapper .intro h3 {
        font-size: 14px;
    }
    .main-container .details-section .personal-details-wrapper .name {
        font-size: 28px;
    }
    .main-container .details-section .personal-details-wrapper .education {
        font-size: 12px;
        width: 96%;
    }
}


/*920px*/

@media screen and (max-width:920px) {
    .main-container .navigation-section {
        height: auto;
    }
    .main-container .navigation-section .header {
        display: block;
    }
    .main-container .navigation-section .heading-wrapper {
        width: 95%;
    }
    .main-container .navigation-section .btn {
        background: transparent;
        border: none;
        padding: 5px 12px;
        cursor: pointer;
        outline: none;
    }
    .main-container .navigation-section .btn:hover {
        background-color: #0b0909;
        padding: 6px 8px;
        border-radius: 7px;
        transition: 0.5sec;
        transition: 0.8s;
    }
    .main-container .navigation-section .btn:active {
        background-color: red;
    }
    .main-container .navigation-section .heading-wrapper .meetMe {
        font-size: 20px;
    }
    .main-container .navigation-section .header .nav-bar ul {
        display: none;
    }
    .main-container .details-section {
        position: unset;
        display: block;
        width: 65%;
        margin: 0 auto;
        margin-top: 34px;
        padding: 31px 0px 0px 0px;
        margin-bottom: 34px;
    }
    .main-container .details-section .dp-img-wrapper #anayt-pic {
        margin-left: 37px;
    }
    .main-container .navigation-section .header .nav-bar ul li {
        margin-top: 29px;
    }
    .main-container .navigation-section .resp-menu-wrapper {
        display: block;
        margin: 0 auto;
        width: 68%;
    }
    .main-container .navigation-section .resp-menu-wrapper .menu-show {
        margin-left: auto;
    }
    .main-container .details-section .dp-img-wrapper {
        width: 55%;
        margin: 0 auto;
    }
    .main-container .details-section .personal-details-wrapper {
        width: 67%;
        padding-top: 39px;
        padding-left: 0px;
        margin: 0 auto;
    }
    .main-container .details-section .contact-wrapper .social {
        margin: 0 auto;
        width: 41%;
    }
    .main-container .bottom-section {
        height: 0px;
    }
    .text-center-res {
        text-align: center;
    }
    .main-container .footer {
        height: 80px;
    }
}


/*640px*/

@media screen and (max-width:640px) {
    .main-container .details-section .dp-img-wrapper #anayt-pic {
        margin-left: 17px;
    }
    .main-container .details-section .personal-details-wrapper .intro h3 {
        font-size: 10px;
    }
    .main-container .navigation-section .heading-wrapper {
        margin-bottom: 14px;
    }
    .main-container .navigation-section .resp-menu-wrapper .menu-show {
        width: 31px;
        height: 3px;
    }
    .main-container .details-section .personal-details-wrapper .education {
        width: 92%;
    }
    .main-container .details-section .personal-details-wrapper .name {
        font-size: 23px;
    }
    .main-container .details-section .contact-wrapper .social {
        width: 71%;
    }
    .main-container .details-section .contact-wrapper .social .socl-link {
        font-size: 11px;
    }
}


/*580px*/

@media screen and (max-width:580px) {
    .main-container .details-section .personal-details-wrapper .education {
        font-size: 11px;
    }
    .main-container .navigation-section .resp-menu-wrapper {
        width: 79%;
    }
    .main-container .details-section .personal-details-wrapper .intro p {
        font-size: 13px;
    }
    .main-container .details-section .contact-wrapper .cont-icon {
        font-size: 13px;
    }
    .main-container .details-section .contact-wrapper .contact {
        font-size: 13px;
    }
}


/*480px*/

@media screen and (max-width:480px) {
    .main-container .navigation-section .resp-menu-wrapper .menu-show {
        width: 20px;
        height: 2px;
    }
    .main-container .details-section .dp-img-wrapper #anayt-pic {
        margin-left: 11px;
    }
    .main-container .details-section .personal-details-wrapper .name {
        font-size: 16px;
    }
    .main-container .details-section .personal-details-wrapper .education {
        font-size: 9px;
        width: 86%;
    }
    .main-container .details-section .contact-wrapper .contact {
        font-size: 8px;
    }
    .main-container .details-section .contact-wrapper .social {
        width: 89%;
    }
    .main-container .details-section .contact-wrapper .cont-icon {
        margin-right: 13px;
    }
    .main-container .details-section .contact-wrapper .social .socl-link {
        font-size: 4px;
    }
}


/*320px*/

@media screen and (max-width:320px) {
    .main-container .navigation-section .resp-menu-wrapper {
        width: 88%;
    }
    .main-container .navigation-section .resp-menu-wrapper .menu-show {
        width: 22px;
        height: 1px;
    }
    .main-container .details-section .personal-details-wrapper .name {
        font-size: 14px;
    }
    .main-container .details-section .personal-details-wrapper .education {
        font-size: 8px;
    }
    .main-container .details-section .personal-details-wrapper .intro p {
        font-size: 11px;
    }
    .main-container .details-section .contact-wrapper .cont-icon {
        font-size: 11px;
    }
    .main-container .details-section .contact-wrapper .contact {
        font-size: 8px;
    }
    .main-container .details-section .contact-wrapper .social {
        width: 100%;
    }
}