
.logoLetteer {
    color: red;
    background: white;
    padding: 1px 2px;
    border-radius: 2px;
    margin-right: 1px;
}

.main-container {
    margin: 0 auto;
    box-shadow: #9e9393b0 0px 12px 22px;
    position: relative;

    .navigation-section {
        height: 500px;
        /*background-image: linear-gradient(-90deg, #6f7311, #e61515);*/
        background-image: url(./../images/background.jpg);
        background-color: rgb(247, 241, 241);
        background-size: cover;

        .heading-wrapper {
            width: 56%;
            padding-top: 2rem;
            margin: 0 auto;
            .meetMe {
                text-align: center;
                font-size: 27px;
                letter-spacing: 1px;
                border: solid 0.5px;
                padding: 12px 3px;
                width: 44%;
            }
        }
    }

    .details-section {
        width: 72%;
        position: absolute;
        left: 13%;
         background-color: /*rgb(228, 215, 215)*/ rgb(29, 29, 29 / 63%);
        display: flex;  
        top: 201px;
        border-radius: 9px;
        padding-right: 21px;
        .dp-img-wrapper {
            width: 60%;
            #my-pic {
                width: 88%;
                height: 77%;
                margin: 26px 0px 0px 26px;
                border: solid white 5px;
                border-radius: 16px;
            }
        }

        .personal-details-wrapper {
            width: 38%;
            padding-top: 37px;
            padding-left: 19px;
            .intro h3 {
             word-spacing: 4px;
                 color: #ebdfdff0;
                }
                .name {
                    font-size: 37px;
                    margin: 16px 0;
                    word-spacing: 8px;
                }

                .education {
                    margin-bottom: 20px;
                    font-size: 15px;
                    text-align: center
                }
        }

        .intro p {
            background-color: #f8f7f7;
            padding: 6px 7px;
            border-radius: 6px;
        }

        .contact-wrapper {
            margin: 41px 0px;
            padding: 30px 0px;
            a {
                text-decoration: none;
                display: block;
            }
            .contact {
                margin-top: 18px;
                color:rgb(241, 50, 50);
            
            }
            .contct-icon {
                margin-right: 16px;
            }

            .social {
                display: flex;
                a {
                    padding: 6px 15px;
                    margin: 24px 9px 0px 0px;
                    color: white;
                    border-radius: 5px;
                    &:hover {
                        color: red;
                        transition: 1s;
                    }
                }

                .fb {
                    background-color: #3b5998;
                }
                .twiter {
                    background-color: #00acee;
                }
                .linkedin {
                    background-color: #0e76a8;
                }
                .insta {
                    background: #d6249f;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                }
            }
            
        }
        
    }
    .bottom-section {
        height: 400px;
        background-color: #f9f6f663;
    }

    .footer {
        height: 100px;
        background-image: linear-gradient(-90deg, #282826, #4a4a4a);
    }
    
    
.grey {
    color: #706565de;
}

.white {
    color: white;
}

.shado-effect {
    background-image: linear-gradient(45deg, #aea9ae5c, #d1d2c73b);
}

.clr-effect-text {
    background-image: linear-gradient(45deg, #f5f2e8, #7a6d6dcc);
    border-radius: 6px;
    width: 70%;
    padding: 4px 8px;
}

 
}